<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Danh sách Sản phẩm</h1>
    <a th:href="@{/products/addProduct}" class="btn btn-primary mb-3">Thêm Sản phẩm</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên Sản phẩm</th>
            <th>Mô tả</th>
            <th>Số lượng</th>
            <th>Kích thước</th>
            <th>Màu sắc</th>
            <th>Giá</th>
            <th>Trạng thái</th>
            <th>Ngày Nhập</th>
            <th>Ngày Xuất</th>
            <th>Danh mục</th>
            <th>Hình ảnh</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productsList}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
            <td th:class="${product.status ? 'bg-success' : 'bg-warning'}"
                th:text="${product.status ? 'Sẵn hàng' : 'Hết hàng'}"></td>
            <td th:text="${#dates.format(product.dateIn, 'dd/MM/yyyy')}"></td>
            <td th:text="${#dates.format(product.dateOut, 'dd/MM/yyyy')}"></td>
            <td th:text="${product.categories.categoryName}"></td>
            <td>
                <img th:src="@{${product.image}}" alt="Hình ảnh sản phẩm" style="width: 100px; height: auto;"/>
            </td>
            <td>
                <a th:href="@{/products/updateProduct/{id}(id=${product.id})}" class="btn btn-warning">Cập nhật</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?');">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
